NEXT_PUBLIC_LEARNHOUSE_MULTI_ORG=false
NEXT_PUBLIC_LEARNHOUSE_DEFAULT_ORG=default

# Replace '161.35.26.247' with internal Docker container names
NEXT_PUBLIC_LEARNHOUSE_API_URL=http://app:1338/api/v1/  # Use internal 'app' container for backend API
NEXT_PUBLIC_LEARNHOUSE_BACKEND_URL=http://app:1338/       # Backend URL
NEXT_PUBLIC_LEARNHOUSE_DOMAIN=161.35.26.247:3000  # External IP for frontend access (this can stay)
NEXT_PUBLIC_LEARNHOUSE_TOP_DOMAIN=161.35.26.247  # External IP for top-level domain (this can stay)
NEXT_PUBLIC_LEARNHOUSE_COLLABORATION_WS_URL=wss://app:1998  # WebSocket internal URL for collaboration
NEXTAUTH_SECRET="nwcmNBjFimka4f3bouNGVSpby8FciAtKakRQn31vkf8="
NEXTAUTH_URL=http://161.35.26.247:3000/  # Frontend URL (use droplet's IP)
