NEXT_PUBLIC_LEARNHOUSE_MULTI_ORG=false
NEXT_PUBLIC_LEARNHOUSE_DEFAULT_ORG=default

# Replace 'localhost' with the backend container's internal hostname or external IP if needed
NEXT_PUBLIC_LEARNHOUSE_API_URL=http://app:1338/api/v1/  # The "app" container's internal hostname
NEXT_PUBLIC_LEARNHOUSE_BACKEND_URL=http://app:1338/       # Internal API URL for backend
NEXT_PUBLIC_LEARNHOUSE_DOMAIN=161.35.26.247:3000
NEXT_PUBLIC_LEARNHOUSE_TOP_DOMAIN=161.35.26.247
NEXT_PUBLIC_LEARNHOUSE_COLLABORATION_WS_URL=wss://app:1998 # Use the internal service name for WebSocket
NEXTAUTH_SECRET="your-secret-key"
NEXTAUTH_URL=http://161.35.26.247:3000/
